@media screen and (max-width: 1199px) {
    header {
        .container {
            padding: 25px;
        }
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
    }
    img {
        width: 97px;
        height: 31px;
    }
    footer {
        .column-lg {
            gap: 30px;
            .footer-nav_title {
                font-size: 22px;
            }
            .footer-nav_item {
                font-size: 18px;
            }
        }

    }
}
