footer {
    position: relative;
    margin-top: auto;
    &::before {
        content: "";
        position: absolute;
        border-top: 1px solid #242424 ;
        top: 0;
        left: 0;
        right: 0;
    }
    .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .container,
    .social-nav {
        display: flex;
    }
    .social-nav {
        gap: 28px;
    }
    .column-lg {
        display: flex;
        gap: 91px;
    }
    .column-sm {
        margin-right: auto;
    }
    .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
}
.footer-logo {
    display: inline-block;
    margin-bottom: 40px;
    img {
        width: 200px;
        height: 58px;
    }
}
.footer-nav_item {
    font-size: 20px;
    color: $titles;
    display: flex;
    align-items: center;
    gap: 20px;
    &:hover {
        text-decoration: none;
        color: $accent;
        }
}
.footer-nav_title {
    font-size: 24px;
    color: $strokes;
    margin-bottom: 12px;
}
.icon {
    display: flex;
    background-color: #141810;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    padding: 13px;
    color: $accent;
    &:hover {
        border: 1px solid $accent;
    }
}
.container.copyright {
    padding: 41px 12px 40px 12px;
    color: $strokes;
    font-size: 16px;
    font-weight: 600;
    .copyright-nav {
        display: flex;
        gap: 40px;
    }
    .copyright-nav_item {
        color: $strokes;
        &:hover {
            text-decoration: none;
            color: $accent;
        }
    }
    span {
        margin-right: auto;
    }
    &::before {
        content: "";
        position: absolute;
        border-top: 1px solid #242424 ;
        top: 0;
        left: 12px;
        right: 12px;
    }


}
 