.form-exchange {
    width: 540px;
    height: 670px;
    border-radius: 20px;
    background-color: $background;
    padding: 40px;
    .get {
        margin-top: 30px;
    }
    label {
        padding-bottom: 20px;
    }
    .input-row {
        background-color: $system;
        border: 1px solid $strokes;
        border-radius: 12px;
        padding: 35px;

        input {
            border: none;
            padding: 0;
        }
        select {
        background-color: $system;
        border: 1px solid $strokes;
        border-radius: 8px;
        padding: 16px 20px;
        color: $titles;
        font-size: 18px;
        font-weight: 600;

        }
    

    }
    .exchange-info {
        margin-bottom: 40px;
        margin-top: 14px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        padding: 0;
        &-item {
            width: calc(50% - 24px);
        }
        &__title {
            color: $strokes;
            font-size: 20px;
        }
        &__value {
            color: $accent;
            font-size: 20px;
        }

    }
    .btn {
        width: 100%;
        font-size: 24px;
    }

}