///fonts///
$font-primary: "Geometria";
$font-size: 16px;

///color///
$background:#080807;
$system: #10100E;
$strokes: #4F4F4F;
$body-text: #8E938C;
$titles: #F7FFEE;
$accent: #B1FF5C;
$hover: #9AF03C;
$active: #42882A;
$errors: #FF3D3D;
$status:#FFB444;

