.banner {
    padding-bottom: 250px + 150px;

    
    
    >.container {
        display: flex;
        justify-content: space-between;
        padding: 40px 50px 0 50px;
    }

    + section {
        margin-top: -150px;
        transition: 1s;
    }
    
    .container {
        margin-left: auto;
        margin-right: auto;
        padding: 40px 0 0 0;
        .banner-col {
            position: relative;
            display: flex;
            flex-direction: column;
            .banner-text {
                max-width: 705px;
                margin-bottom: 72px;
                .banner-title {
                    padding-bottom: 22px;
                    font-weight: 600;
                }
                .banner-subtitle {
                    font-size: 24px;
                    color: $body-text;
                }
            }
            .banner-advantages {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px 50px;
                max-width: 790px;
                width: 100%;
                margin-bottom: 80px;
                .banner-advantages__item {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    font-size: 18px;
                    font-weight: 600;
                    color: #FFFFFF;
                    max-width: 370px;
                    .icon:hover {
                        border: none;
                    }
                }
            }
            .banner-link {
                &:hover {
                    text-decoration: none;
                }
                svg {
                    height: 12px;
                    width: 13px;
                    transition: .3s;
                    margin-left: 8px;

                }
            }
            .banner-link:hover svg {
                transform: rotate(90deg);
            }
        }
    }

    .form-light {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    
        
    }
}