.template-title {
    &.case-2 {
        display: flex;
        flex-direction: row;
        align-items: end;
        max-width: 1440px;
        a {
            margin-left: auto;
            color: $strokes;
            &:hover {
                text-decoration: none;
                color: $accent;
            }
        }
    }
}
.city-list {
    .city-item {
        display: block;
        padding: 54px 0 60px 100px;
        font-size: 32px;
        color: $titles;
        text-decoration: none;
        border-top: 1px solid $strokes;
        background-position-y: calc(100% - 162px);
        background-repeat: no-repeat;
        &:last-child {
            border-bottom: 1px solid $strokes;
        }
        &:hover {
            animation: city 16s ease-in-out;
            color: transparent;
        }
    }
}
@keyframes city {
    0% {
         background-position-y: 100%;
        background-position-y: bottom;
    }
    
    5% {
        background-position-y: 100%;
        background-position-y: bottom;
    }

    40%{
        background-position-y: top;
    }

    50% {
        background-position-y: top;
    }

    100% {
        background-position-y: bottom;
    }
}