.review {
    background-color: $accent;
    max-width: 1920px;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    padding: 200px 0 174px;
    .swiper {
        max-width: 1080px;
    }
    .swiper-wrapper {
        align-items: flex-end;
        .swiper-slide {
            padding: 50px 60px 72px
        }
        blockquote {
            position: relative;
            &::before {
                content: "";
                background: url(assets/img/blockquote.svg) center/contain no-repeat;
                width: 136px;
                height: 112px;
                position: absolute;
                z-index: -1;
                top: -42px;
                left: 40px;
            }
        }
        .review-text {
            font-size: 32px;
            color: $system;
            margin-bottom: 80px;
        }
        .review-info {
            .review-autor {
                font-size: 24px;
                font-weight: 600;
                color: $system;
                margin-bottom: 8px;
            }
            .review-data {
                font-size: 20px;
                color: $active;
            }
        }
    }
    .review-btn {
        display: flex;
        gap: 20px;
        position: absolute;
        bottom: 86px;
        right: -10px;
        margin-left: auto;
        padding-left: 100px;
        padding-right: 80px;
        height: 75px;
        background-color: $accent;
        z-index: 1;


        .swiper-button-next,
        .swiper-button-prev {
            position: static;
            border: 2px solid $active;
            border-radius: 50px;
            width: 74px;
            height: 74px;
            margin: 0;
            &::after {
                content: "";
                background: url(assets/img/review-arrow.svg) center/contain no-repeat;
                position: absolute;
                width: 20px;
                height: 20px;
                top: 26px;
                left: 125px;
            }
        }
        .swiper-button-next {
            &::after {
                top: 26px;
                left: 222px;
                transform: rotate(180deg);
            }
        }
    }
    .swiper-pagination {
        .swiper-pagination-bullet {
            background-color: $titles;
            width: 20px;
            height: 20px;
            opacity: 1;
            margin: 8px;
            transition: .3s;

        }
        .swiper-pagination-bullet-active {
            background-color: $active;
            width: 160px;
            border-radius: 55px;

        }
    }
}