<section class="cities">
    <div class="container">
        <div class="template-title case-2">
            <h2>де нас можна знайти</h2>
            <a href="#">дивитись усі міста</a>
        </div>
        <nav class="city-list">
            <a href="#" class="city-item" style="background-image: url(assets/img/nav-kyiv.png);">Київ</a>
            <a href="#" class="city-item" style="background-image: url(assets/img/nav-kharkiv.png);">Харків</a>
            <a href="#" class="city-item" style="background-image: url(assets/img/nav-lviv.png);">Львів</a>
            <a href="#" class="city-item" style="background-image: url(assets/img/nav-odesa.png);">Одеса</a>
        </nav>
    </div>
</section>