<footer>
    <div class="container">
        <div class="column-sm">
            <a href="#" class="footer-logo">
                <img src="../assets/img/header-logo.svg" alt="logo">
            </a>
            <nav>
                <a href="">
                    <img src="" alt="">
                </a>
                <a href=""></a>
                <a href=""></a>
            </nav>
        </div>
        <div class="column-lg">
            <nav class="footer-nav">
                <h6 class="footer-nav_title">послуги</h6>
                <a href="" class="footer-nav_item">перекази по Україні</a>
                <a href="" class="footer-nav_item">міжнародні перекази</a>
                <a href="" class="footer-nav_item">swift перекази</a>
                <a href="" class="footer-nav_item">криптоперекази</a>
                <a href="" class="footer-nav_item">перекази юаня у Китай</a>
            </nav>
            <nav class="footer-nav">
                <h6 class="footer-nav_title">клієнтам</h6>
                <a href="" class="footer-nav_item">як це працює</a>
                <a href="" class="footer-nav_item">крипто-фіатні пари</a>
                <a href="" class="footer-nav_item">де нас знайти</a>
                <a href="" class="footer-nav_item">відгуки</a>
                <a href="" class="footer-nav_item">часті питання</a>
                <a href="" class="footer-nav_item">блог</a>
            </nav>
            <nav class="footer-nav d-lg-none">
                <h6 class="footer-nav_title">правова інформація</h6>
                <a href="" class="footer-nav_item">політика конфіденційності</a>
                <a href="" class="footer-nav_item">положення</a>
            </nav>
            <address class="footer-nav">
                <h6 class="footer-nav_title">контакти</h6>
                <a href="">info@crypto-money24.com</a>
                <a href="">+38 (098) 358-00-01</a>
                <a href="">+38 (050) 974-00-01</a>
            </address>
        </div>
    </div>
    <div class="container copyright">
        <span>ⓒ 2022. Всі права захищені</span>
        <nav class="copyright-nav">
            <a href="" class="copyright-nav_item">політика конфіденційності</a>
            <a href="" class="copyright-nav_item">умови та положення</a>
        </nav>
    </div>
</footer>
<svg class="d-none">
    <symbol id="arrow-back" viewBox="0 0 18 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.89098 15.3022L0.270597 7.68182L7.89098 0.0614339L9.36115 1.51527L4.25639 6.62003H17.0795V8.74361H4.25639L9.36115 13.8402L7.89098 15.3022Z"/>
    </symbol>
</svg>
<a href="markup.html" 
style="background-color: #9AF03C;
border-radius: 50%;
color: #10100E;
font-weight: 600;
padding: 12px;
text-decoration: none;
position: fixed;
bottom: 12px;
left: 12px;">UI kit</a>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/jquery.mask.min.js"></script>
<script src="assets/js/hideShowPassword.min.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>