
<header class="login">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img src="../assets/img/header-logo.svg" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-line"></span>
            <span class="navbar-toggler-line"></span>
            <span class="navbar-toggler-line"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-line"></span>
              <span class="navbar-toggler-line"></span>
              <span class="navbar-toggler-line"></span>
            </button>
            <ul class="navbar-nav navbar-nav-country navbar-nav-middle">
              <li class="nav-item dropdown nav-country">
                <a class="nav-link dropdown-arrow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Україна</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Україна</a></li>
                  <li><a class="dropdown-item" href="#">Польша</a></li>
                  <li><a class="dropdown-item" href="#">Чехія</a></li>
                </ul>
              </li>
            </ul>
                <ul class="navbar-nav navbar-nav-main-navigation">
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-arrow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">послуги</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">перекази по Україні</a></li>
                          <li><a class="dropdown-item" href="#">міжнародні перекази</a></li>
                          <li><a class="dropdown-item" href="#">swift-перекази</a></li>
                          <li><a class="dropdown-item" href="#">обмін криптовалюти</a></li>
                          <li><a class="dropdown-item" href="#">переказ юаня у Китай</a></li>
                        </ul>
                      </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">як це працює</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">де нас знайти</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-arrow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">клієнтам</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">відгуки</a></li>
                      <li><a class="dropdown-item" href="#">часті питання</a></li>
                      <li><a class="dropdown-item" href="#">блог</a></li>
                    </ul>
                  </li>
                </ul>
                    <ul class="navbar-nav navbar-nav-small ms-lg-auto">
                      <li class="nav-item nav-language dropdown ">
                        <a class="nav-link dropdown-arrow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">UA</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">ua</a></li>
                          <li><a class="dropdown-item" href="#">pl</a></li>
                          <li><a class="dropdown-item" href="#">ch</a></li>
                        </ul>
                      </li>
                    </ul>
                    <div class="btn-row">
                      <a href="#" class="btn btn-login d-lg-none">створити акаунт</a>
                      <a href="#" class="btn btn_secondary btn-login d-lg-none">увійти</a>
                      <a href="#" class="btn btn-exit d-lg-none">вийти з акаунту</a>
                    </div>
          </div>
          <a class="btn btn_secondary btn-registration verified not-verified">реєстрація</a>
          <a class="btn btn_profile verified not-verified">AE</a>
        </div>
      </nav>
</header>

