<section class="questions">
    <div class="container">
        <div class="template-title">
            <h2>залишились питання?</h2>
            <h3>Залишились питання або хочете дізнатися більше, виберіть зручний спосіб для зв'язку</h3>
        </div>
        <nav class="social-nav">
            <a href="#">
                <i class="icon">
                    <svg>
                        <use href="#icon-inst"></use>
                    </svg>
                </i>
            </a>
            <a href="">
                <i class="icon">
                    <svg>
                        <use href="#icon-youtube"></use>
                    </svg>
                </i>
            </a>
            <a href="">
                <i class="icon">
                    <svg>
                        <use href="#icon-telegram"></use>
                    </svg>
                </i>
            </a>
        </nav>
    </div>
</section>