<section class="review">
    <div class="container">
        <div class="swiper">
            <div class="swiper-wrapper">
              <article class="swiper-slide">
                <blockquote>
                  <div class="review-text">У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я</div>
                  <div class="review-info">
                    <cite>
                        <div class="review-autor">Дмитро Науменко</div>
                        <div class="review-data">29 листопада 2022</div>
                    </cite>
                  </div>
                </blockquote>
              </article>
              <article class="swiper-slide">
                <blockquote>
                  <div class="review-text">У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім.</div>
                  <div class="review-info">
                    <cite>
                        <div class="review-autor">Дмитро Науменко</div>
                        <div class="review-data">29 листопада 2022</div>
                    </cite>
                  </div>
                </blockquote>
              </article>
              <article class="swiper-slide">
                <blockquote>
                  <div class="review-text">Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я</div>
                  <div class="review-info">
                    <cite>
                        <div class="review-autor">Дмитро Науменко</div>
                        <div class="review-data">29 листопада 2022</div>
                    </cite>
                  </div>
                </blockquote>
              </article>
            </div>
            <div class="swiper-pagination"></div>
        
            <div class="review-btn">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            </div>
          
          </div>
    </div>
</section>