<section class="steps">
    <div class="container">
        <div class="template-title">
            <h2>3 простих кроки почати</h2>
            <h3>Не знаеш з чого почати? Слідуй цим простим крокам для швидкого старту</h3>
        </div>
        <div class="step-list">
            <div class="step-item">
                <div class="step-number"></div>
                <h3 class="step-title">реєстрація</h3>
                <h6 class="step-description">зареєструйся, щоб отримати можливість приєднатися до бонусної системи та отримати додаткові можливості</h6>
            </div>
            <div class="step-item">
                <div class="step-number"></div>
                <h3 class="step-title">верифікація</h3>
                <h6 class="step-description">пройдіть верифікацію особи та отримайте можливість здійснювати обмін фіатних валют</h6>
            </div>
            <div class="step-item">
                <div class="step-number"></div>
                <h3 class="step-title">торгівля</h3>
                <h6 class="step-description">користуйтеся найвигіднішим курсом для обміну валют</h6>
            </div>
        </div>
    </div>
</section>